@charset "UTF-8";
/* nav */
#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 0;
}
    .navbar {
        display: flex;
        align-items: center;
    }
    .navbar .logo img {
        height: 40px;
        margin-right: 80px;
    }
    .navbar a {
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.75rem;
        color: var(--white);
        margin-right: 40px;
        transition: all .3s ease;
    }
    .navbar a:hover,
    .navbar a:focus {
        color: var(--light-coral);
    }

/* Header */
#header {
    position: relative;
}
#header img:first-of-type{
    position: absolute;
    top: 50px;
    left: 0;
    height: 200px;
}
#header img:last-of-type{
    position: relative;
    top: 3px;
    left: 70%;
    width: 358px;
}
    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .header-content h1,
        .header-content h1 span {
            font-weight: 700;
            font-size: 6.25rem;
            line-height: 6.25rem;
            color: var(--white);
        }
        .header-content h1 span {
            color: var(--light-coral);
            display: inline;
        }
        .header-content .header-desc {
            width: 50%;
            padding-left: 100px;
        }
            .header-content .header-desc p {
                font-size: 1.125rem;
                line-height: 1.75rem;
            }
            .header-content .header-desc span {
                width: 50px;
                height: 4px;
                background: var(--rapture-blue);
                display: block;
                margin-bottom: 79px;
            }

/* build */
#build {
    background: var(--sacramento-state-green);
    position: relative;
}
    .build-content {
        display: flex;
        justify-content: space-between;
    }
    .build-content .build-title {
        margin-right: 125px;
        width: 60%;
    }
        .build-content .build-title span {
            width: 50px;
            height: 4px;
            background: var(--light-coral);
            display: block;
            margin-bottom: 54px;
        }
        .build-content .build-title h2 {
            font-weight: 700;
            font-size: 3rem;
            line-height: 3rem;
            color: var(--white);
        }
    /* build our */
    .build-our-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;
    }
        .build-our-item img {
            width: 72px;
            margin-right: 23px;
        }
            .build-our-item .build-our-item-desc h3 {
                font-weight: 700;
                font-size: 1.125rem;
                line-height: 1.75rem;
                color: var(--light-coral);
                margin-bottom: 16px;
            }
            .build-our .our-bg {
                position: absolute;
                bottom: 0;
                right: 0;
            }

/* compani */
#compani {
    background: var(--deep-jungle-green);
    position: relative;
}
#compani .compani-bg-one {
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}
#compani .compani-bg-two {
    width: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
}
    .compani-title h2 {
        font-weight: 700;
        font-size: 3rem;
        line-height: 3rem;
        text-align: center;
        color: var(--white);
        margin-bottom: 56px;
    }
        .compani-title h2 span {
            color: var(--rapture-blue);
        }
    .compani-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .compani-content .compani-item {
            width: 30%;
            text-align: center;
        }
            .compani-item img:first-of-type {
                width: 67px;
                margin-bottom: -20px;
            }
            .compani-item img:last-of-type {
                width: 62px;
            }
            .compani-item h3 {
                font-weight: 700;
                font-size: 1.125rem;
                line-height: 1.75rem;
                color: var(--rapture-blue);
                margin-top: 24px;
                margin-bottom: 2px;
            }
            .compani-item span {
                font-style: italic;
                font-weight: 500;
                font-size: 0.8125rem;
                line-height: 1.125rem;
                color: var(--white);
                margin-bottom: 32px;
                display: block;
            }